<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    </head>

    <body>
        {% if not cookies_accepted %}
        <script type="text/javascript">
            function acceptCookies()
            {
                fetch('/cookies_accepted',
                    {
                        method: 'POST',
                        credentials: 'include',
                        cache: 'no-cache',
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            accept_cookies: true
                        })
                    }).then(response => {
                            document.getElementById('cookie_bar').style.display = 'none';
                        })
            }
        </script>
        {% endif %}

        <div class="root">
            <div class="bar secondary">
                <a href="/"><img src="/static/img/sonos-tools-home.svg" class="home"/></a>
            </div>
            {% block content %}{% endblock %}
            <div>
                {% if not cookies_accepted %}
                <div id="cookie_bar" class="bar cookie">
                    <p><!-- intentionally left blank--></p>
                    <span>We use cookies. See our <a href="/privacy">Privacy Policy</a>.</span>
                    <button onclick="window.acceptCookies()">Accept</button>
                </div>
                {% endif %}
                <div class="bar secondary bottom">
                    <a href="/privacy">Privacy Policy</a>
                    <a href="https://twitter.com/dalbuschat" target="_blank">@dalbuschat</a>
                    © 2018 - {{now.year}} Daniel Albuschat
                </div>
            </div>
        </div>
    </body>
</html>

