<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>

    <body>
        <h1>Sonos Power-Tools</h1>

        <div class="landing">
            <p class="landing-introduction">Let your Sonos speakers talk to you</p>
            <p class="landing-introduction">Simple, three-step setup:</p>

            <ol>
                <li>Sign in with Google</li>
                <li>Connect with Sonos to receive an API key</li>
                <li>HTTP POST the text that you want your speakers to say.</li>
            </ol>
        </div>
    </body>
</html>

