html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

div.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;

    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
}

div.secondary {
    background-color: #4cc9d4;
}

div.privacy {
    padding-top: 30pt;
    padding-left: 20pt;
    padding-right: 20pt;
    font-size: 12pt;
}

@media only screen and (min-width: 800px) {
    div.privacy {
        padding-top: 30pt;
        padding-left: 80pt;
        padding-right: 80pt;
    }
}

div.bar {
    height: 30pt;
}

div.top-bar {
    height: 30pt;
}

div.top-bar span {
    position: absolute;
    left: 8pt;
    top: 4pt;
    font-weight: bold;
    color: #edeeef;
    font-size: 14pt;
}

div.bar.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

div.bar.bottom a {
    padding: 0 5pt;
}

div.bar.cookie {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10pt;
    padding: 0 1em;
}

div.bar.cookie a {
    color: white;
}

div.section-two {
    margin-top: 50pt;
    padding: 50pt;
}

h1 {
    font-size: 48pt;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 20pt;
    font-size: 32pt;
    text-align: center;
}

div.landing {
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
    text-align: center;
}

img.home {
    height: 26pt;
    padding: 2pt;
    padding-left: 4pt;
}

img.speaker-left {
    position: absolute;
    top: 40pt;
    left: 10pt;
    width: 80pt;
}

@media only screen and (min-width: 800px) {
    img.speaker-left {
        position: absolute;
        top: 50pt;
        left: 6%;
        width: 15%;
    }
}

img.speaker-right{
    position: absolute;
    top: 40pt;
    right: 10pt;
    width: 80pt;
}

@media only screen and (min-width: 800px) {
    img.speaker-right{
        position: absolute;
        top: 250pt;
        right: 10%;
        width: 19%;
    }
}

img.speaker-right.corner {
    bottom: 50pt;
    right: 10%;
    width: 19%;
    top: unset;
    z-index: -1;
}

p.landing-introduction {
    text-align: center;
    color: #279ba5;
    font-weight: bold;
}

div.landing ol {
    margin-top: 500px;
    text-align: left;
}

p.connect-sonos {
    margin-top: 50pt;
}

button:focus {outline:0;}

button.sonos {
    padding: 8pt 20pt;
    background-color: black;
    color: white;
    border-radius: 5pt;
    text-decoration: none;
    border: none;
    font-size: 14pt;
}

button.sonos.connect {
    margin: 30pt;
}

button.sonos.test-button {
    margin-left: 30pt;
}

button.google-logout {
    position: absolute;
    right: 15pt;
    top: 15pt;
}

div.content {
    padding: 30pt;
    padding-bottom: 10pt;
}

div.bottom a {
    color: white;
}

div.bottom a:visited {
    color: white;
}

a:visited {
    color: black;
}

a {
    color: black;
    font-size: 10pt;
    text-decoration: underline;
}

a.unlink {
    font-weight: bold;
    color: #279ba5;
}

div.playerView {
    margin-top: 10pt;
}

div.previewPicker {
    font-size: 10pt;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10pt;
    margin-bottom: 15pt;
}

@media only screen and (min-width: 800px) {
    div.previewPicker {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

div.previewPickerEntry {
    flex-grow: 1;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    background-color: lightgray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

div.previewPickerEntry:last-child {
    border-right: 1px solid gray;
}

div.previewPickerEntry.selected {
    background-color: #4cc9d4;
}

pre {
    font-size: 10pt;
    overflow: auto;
    padding-bottom: 10pt;
    background-color: #ffffffcc;
}

div.preview pre {
    height: 16em;
}

p.importantNote {
    font-size: 10pt;
}
