html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

div.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;

    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
}

div.secondary {
    background-color: #4cc9d4;
}

div.privacy {
    padding-top: 30pt;
    padding-left: 20pt;
    padding-right: 20pt;
    font-size: 12pt;
}

@media only screen and (min-width: 800px) {
    div.privacy {
        padding-top: 30pt;
        padding-left: 80pt;
        padding-right: 80pt;
    }
}

div.bar {
    height: 30pt;
}

div.top-bar {
    height: 30pt;
}

div.top-bar span {
    position: absolute;
    left: 8pt;
    top: 4pt;
    font-weight: bold;
    color: #edeeef;
    font-size: 14pt;
}

div.bar.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

div.bar.bottom a {
    padding: 0 5pt;
}

div.section-two {
    margin-top: 50pt;
    padding: 50pt;
}

h1 {
    font-size: 48pt;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 32pt;
    text-align: center;
}

div.landing {
    margin-bottom: 1em;
    width: 100%;
    display: inline-block;
    text-align: center;
}

img.home {
    height: 26pt;
    padding: 2pt;
    padding-left: 4pt;
}

img.speaker-left {
    position: absolute;
    top: 40pt;
    left: 10pt;
    width: 80pt;
}

@media only screen and (min-width: 800px) {
    img.speaker-left {
        position: absolute;
        top: 50pt;
        left: 6%;
        width: 15%;
    }
}

img.speaker-right{
    position: absolute;
    top: 40pt;
    right: 10pt;
    width: 80pt;
}

@media only screen and (min-width: 800px) {
    img.speaker-right{
        position: absolute;
        top: 250pt;
        right: 10%;
        width: 19%;
    }
}

img.speaker-right.corner {
    bottom: 50pt;
    right: 10%;
    width: 19%;
    top: unset;
}

p.landing-introduction {
    text-align: center;
    color: #279ba5;
    font-weight: bold;
}

div.landing ol {
    margin-top: 500px;
    text-align: left;
}

p.connect-sonos {
    margin-top: 50pt;
}

button:focus {outline:0;}

button.sonos {
    padding: 8pt 20pt;
    background-color: black;
    color: white;
    border-radius: 5pt;
    text-decoration: none;
    border: none;
    font-size: 14pt;
}

button.sonos.connect {
    margin: 30pt;
}

button.sonos.test-button {
    margin-left: 30pt;
}

button.google-logout {
    position: absolute;
    right: 15pt;
    top: 15pt;
}

div.content {
    padding: 30pt;
}

div.content table {
    margin-top: 50pt;
}

p.player-name {
    font-weight: bold;
    color: #279ba5;
}

p.api-key-label {
    margin: 0;
}

span.api-key {
    margin: 5pt 0 0 0;
    border: 1px solid #aaa;
    padding: 1pt 10pt;
    background-color: #f8f8f8;
    white-space:nowrap
}

a:visited {
    color: white;
}

a {
    color: white;
    font-size: 10pt;
    text-decoration: underline;
}

a.unlink {
    font-weight: bold;
    color: #279ba5;
    position: absolute;
    left: 30pt;
    bottom: 35pt;
}

