html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

div.root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

div.root.inner {
    overflow: scroll;
}

div.secondary {
    background-color: #4cc9d4;
}

div.top-bar {
    height: 30pt;
}

div.top-bar span {
    position: absolute;
    left: 8pt;
    top: 4pt;
    font-weight: bold;
    color: #edeeef;
    font-size: 14pt;
}

div.bottom-bar {
    left: 0;
    bottom: 0;
    right: 0;
    height: 30pt;
    position: absolute;
}

div.section-two {
    margin-top: 50pt;
    padding: 50pt;
}

h1 {
    font-size: 72pt;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 46pt;
    text-align: center;
}

div.landing {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}

img.speaker-left {
    position: absolute;
    top: 50pt;
    left: 6%;
    width: 15%;
}

img.speaker-right{
    position: absolute;
    top: 250pt;
    right: 10%;
    width: 19%;
}

img.speaker-right.corner {
    bottom: 50pt;
    right: 10%;
    width: 19%;
    top: unset;
}

p.landing-introduction {
    text-align: center;
    color: #279ba5;
    font-weight: bold;
}

div.landing ol {
    margin-top: 500px;
    text-align: left;
}

p.connect-sonos {
    margin-top: 50pt;
}

button:focus {outline:0;}

button.sonos {
    padding: 8pt 20pt;
    background-color: black;
    color: white;
    border-radius: 5pt;
    text-decoration: none;
    border: none;
    font-size: 14pt;
}

button.sonos.connect {
    margin: 30pt;
}

button.sonos.test-button {
    margin-left: 30pt;
}

button.google-logout {
    position: absolute;
    right: 15pt;
    top: 15pt;
}

div.content {
    padding: 30pt;
}

div.content table {
    margin-top: 50pt;
}

p.player-name {
    font-weight: bold;
    color: #279ba5;
}

p.api-key-label {
    margin: 0;
}

span.api-key {
    margin: 5pt 0 0 0;
    border: 1px solid #aaa;
    padding: 1pt 10pt;
    background-color: #f8f8f8;
    white-space:nowrap
}

a.unlink {
    font-weight: bold;
    color: #279ba5;
    position: absolute;
    left: 30pt;
    bottom: 35pt;
}

